@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&family=Oswald&display=swap');


* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Oswald', sans-serif;
}

/* header */
.top {
    width: fit-content;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
}

img {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.hero {
    position: absolute;
    top: 14rem;
    width: 565px;
    background-color: rgba(0,0,0,.3);
    padding: 1rem;
}

#Logo {
    width: 100px;
    height: auto;
    position: absolute;
    left: 6rem;
}

.top h1 {
    text-align: center;
    color: rgba(255,165,0,.7);
    text-transform: uppercase;
    padding: 2.5rem;
}

.credit {
    position: absolute;
    color: rgba(50, 50, 50, .7);
    top: 97vh;
    left: 11.3rem;
}

a[href^="https"] {
    color: rgba(50, 50, 50, .7);
}

a[href^="https"]:hover {
    color: rgba(255,165,0,.5);
}

/* Main container*/
 .top-main {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 1rem;
 }

/* form */

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    gap: 3.5rem;
    background: linear-gradient(180deg,silver,black);
}

form p {
    font-size: 1.5rem;
}

.contain-form {
    display: flex;
    gap: 4rem;
    padding-bottom: 1rem;
    position: relative;
}

.left-side {
    position: relative;
}

.left-side::before {
    content: "Lets do this!";
    position: absolute;
    top: -2.7rem;
    font-size: 1.5rem;
}

.left-side,.right-side {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 5px;
    letter-spacing: 2px;
}

input {
    border-radius: 5px;
    padding: 8px;
}

form button {
    width: 10rem;
    padding: 1rem;
    border-radius: 10px;
    /* border: 1px solid #fff; */
    border-color: #fff;
    border-color: rgba(255,165,0,.5);
    background:  rgba(255,165,0,.5);
}

/* bottom */

.bottom-main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

a[href^="#"] {
    text-decoration: none;
    color:rgba(255,165,0,.5);
}

/* validation */
input:required:focus:valid {
    border: 2px green solid;
    background: url(./images/tick-circle-svgrepo-com.svg) no-repeat 95% 50% rgba(0,100,0,.6);
    background-size: 25px;
    border-color: green;
}

input:required:focus:invalid {
    border: 2px red solid;
    border-color: red;
    background: url(./images/alert-hexagon-svgrepo-com.svg) no-repeat 95% 50% rgba(150,0,0,.6);
    background-size: 25px;
}

/* @media screen and (max-width:900px) {
    body{
        flex-direction: column;
        width: 600px;
        margin: auto;
    }
    
    img {
        height: 500px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;

    }
} */